<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Add switch</h1>
  </ion-header-bar>
  <ion-content>
    <ul class="list">
      <li class="item" ng-click="setStartTime()">
        Start time: {{ startTime.format("HH:mm") }}
      </li>
      <li class="item" ng-click="setEndTime()">
        End time: {{ endTime.format("HH:mm") }}
      </li>
    </ul>
    <ion-list>
      <ion-radio ng-model="switchType" ng-value="'day'">Day</ion-radio>
      <ion-radio ng-model="switchType" ng-value="'night'">Night</ion-radio>
    </ion-list>
    <button class="button button-block button-positive" ng-click="submitChanges()">
      Add switch
    </button>
  </ion-content>
</ion-modal-view>

