<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Override temperature</h1>
  </ion-header-bar>
  <ion-content class="padding">
    <div class="slider-div">
      <div id="override-slider">

      </div>
    </div>

    <div class="buttons-div">
      <ion-list>
        <ion-radio ng-model="choice" ng-value="1">Override until next switch</ion-radio>
        <ion-radio ng-model="choice" ng-value="2">Override permanently</ion-radio>
      </ion-list>
      <button class="button button-block button-positive large-button">
        Override
      </button>
      <button class="button button-block button-assertive" ng-click="modal.hide()" style="margin-top: 5%">
        Abort override
      </button>
    </div>
  </ion-content>
</ion-modal-view>
