<ion-view title="{{ weekDay}}">
  <ion-content class="padding">
    <ul class="list">
      <li class="item" ng-repeat="switch in switches"
          on-long-press="deleteItem(switch, $index)"
          ng-class="{'night-program': switch.type == 'night', 'day-program': switch.type == 'day'}">

        <span ng-if="switch.type =='night'">&#x1f319; </span>
        <span ng-if="switch.type == 'day'">&#x1f31e; </span>
          {{ switch.start }} - {{ switch.end }}
      </li>
    </ul>
    <button class="button button-block button-positive" ng-click="addSwitch()">
      Add item
    </button>
  </ion-content>
</ion-view>
