<ion-view view-title="Dashboard" hide-nav-bar="true">
  <ion-content class="padding">
    <h1 align="center" class="fucking-huge-text">{{ currentTemp }}&deg; </h1>
    <div class="slider-div">
      <div id="slider">

      </div>
    </div>
    <div class="program-indicator-div">
      <canvas height="100%" id="line" class="chart chart-line" chart-data="data"
              chart-labels="labels" chart-options="graphOptions">
      </canvas>
    </div>
    <button class="button button-block button-positive large-button" ng-click="overrideTemp()">
      Override program
    </button>
  </ion-content>
</ion-view>
