<ion-view view-title="Dashboard" hide-nav-bar="true">
  <ion-content class="padding">
    <h1 align="center" class="fucking-huge-text">{{ currentTemp }}&deg; </h1>
    <div class="slider-div">
      <div id="slider">

      </div>
    </div>
    <div class="program-indicator-div">
      <span class="program-bar" ng-repeat="programBar in programBars"
            ng-style="{width: programBar.width}"
            ng-class="{'night-program': programBar.state == 'off', 'day-program': programBar.state == 'on'}">
      </span>
    </div>
    <p class="align-center">Current program:</p>
    <button class="button button-block button-positive large-button" ng-click="overrideTemp()">
      Override program
    </button>
  </ion-content>
</ion-view>
